WIFI_SSID = "YourWiFi"
WIFI_PASSWORD = "YourPassword"

CLIENT_ID = "spotify-client-id"
CLIENT_SECRET = "spotify-client-secret"

ACCESS_TOKEN = "spotify-access-token"
REFRESH_TOKEN = "spotify-refresh-token"
